/**
 * Main styles for reveal.js 
 *
 * @author Hakim El Hattab
 */

li > ul {
	padding-left: 30px;
}

#reveal li > ul {
	display: block;
}

/*********************************************
 * FONT-FACE DEFINITIONS
 *********************************************/

@font-face {
	font-family: 'League Gothic';
	src: url('../assets/fonts/leaguegothic/league_gothic-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


/*********************************************
 * GLOBAL STYLES
 *********************************************/

html, body {
	position: relative;
	padding: 0;
	margin: 0;
	overflow: hidden;
	
	font-family: 'Lato', Times, 'Times New Roman', serif;
	font-size: 36px;
	font-weight: 200;
	letter-spacing: -0.02em;
	
	color: #000000;
	
	width: 100%;
	height: 100%;

	min-height: 600px;
}

html {
   background: #d6e9f4; /* Old browsers */
   background: -moz-linear-gradient(top,  #d6e9f4 0%, #bdddf2 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d6e9f4), color-stop(100%,#bdddf2)); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top,  #d6e9f4 0%,#bdddf2 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top,  #d6e9f4 0%,#bdddf2 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top,  #d6e9f4 0%,#bdddf2 100%); /* IE10+ */
   background: linear-gradient(to bottom,  #d6e9f4 0%,#bdddf2 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6e9f4', endColorstr='#bdddf2',GradientType=0 ); /* IE6-9 */
}

/*********************************************
 * HEADERS
 *********************************************/
#reveal h1, 
#reveal h2, 
#reveal h3, 
#reveal h4 {
	margin: 0 0 20px 0;
	
	color: #000000;
	
	font-family: 'League Gothic', sans-serif;
	line-height: 0.9em;
	letter-spacing: 0.02em;
	
	text-transform: uppercase;
	text-shadow: 0px 0px 6px rgba(0,0,0,0.2);
}

#reveal h1 { font-size: 136px; 	}
#reveal h2 { font-size: 76px;	}
#reveal h3 { font-size: 56px;	}
#reveal h4 { font-size: 36px;	}

#reveal h1.inverted,
#reveal h2.inverted,
#reveal h3.inverted,
#reveal h4.inverted {
	color: #cccccc;
	text-shadow: 0px 0px 2px rgba(0,0,0,0.2);
}

#reveal h1 {
	text-shadow: 0 1px 0 #ccc,
                 0 2px 0 #c9c9c9,
                 0 3px 0 #bbb,
                 0 4px 0 #b9b9b9,
                 0 5px 0 #aaa,
                 0 6px 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1),
                 0 1px 3px rgba(0,0,0,.3),
                 0 3px 5px rgba(0,0,0,.2),
                 0 5px 10px rgba(0,0,0,.25),
                 0 20px 20px rgba(0,0,0,.15);
}


/*********************************************
 * VIEW FRAGMENTS
 *********************************************/

#reveal .slides section .fragment {
	opacity: 0;

	-webkit-transition: all .2s ease;
	   -moz-transition: all .2s ease;
	    -ms-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
	#reveal .slides section .fragment.visible {
		opacity: 1;
	}


/*********************************************
 * DEFAULT ELEMENT STYLES
 *********************************************/

#reveal .slides section {
	line-height: 1.2em;
	font-weight: normal;
}

#reveal strong, 
#reveal b {
	font-weight: bold;
}

#reveal em, 
#reveal i {
	font-style: italic;
}

#reveal ol, 
#reveal ul {
	display: inline-block;

	text-align: left;
	margin: 0 auto;
}

#reveal ol {
	list-style: decimal;
	list-style-position: inside;
}

#reveal ul {
	list-style: disc;
}

#reveal p {
	margin-bottom: 10px;
}

#reveal blockquote {
	display: block;
	position: relative;
	width: 70%;
	margin: 5px auto;
	padding: 5px;
	
	font-style: italic;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
}
	#reveal blockquote:before {
		content: '“';
	}
	#reveal blockquote:after {
		content: '”';
	}

#reveal pre {
	display: block;
	position: relative;
	width: 90%;
	margin: 10px auto;

	text-align: left;
	font-size: 20px;
	font-family: monospace;
	line-height: 1.1em;

	word-wrap: break-word;

	box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
}

#reveal code {
	font-family: monospace;
}

#reveal small {
	font-size: 60%;
	line-height: 1em;
	vertical-align: top;
}

#reveal q {	
	font-style: italic;
}
	#reveal q:before {
		content: '“';
	}
	#reveal q:after {
		content: '”';
	}

#reveal a:not(.image) {
	color: #003366;
	text-decoration: none;

	-webkit-transition: all .2s ease;
	   -moz-transition: all .2s ease;
	    -ms-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
	
	#reveal a:not(.image):hover {
		color: hsl(185, 85%, 70%);
		background: hsla(185, 25%, 20%, 0.4);
		text-shadow: none;
		border: none;
		border-radius: 2px;
	}

#reveal a:hover.imgbox {
   border-color: gray;
   -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
   -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
   -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}

/********
 * LOGO *
 ********/

.logo {
   display: block;
   position: fixed;
   background-image: url('../assets/img/logo.png');
   background-repeat: no-repeat;
   padding-left: 10px;
   right: 0px;
   top: 20px;
   min-width: 90px;
   min-height: 90px;
   background-size: contain;
}

/*********************************************
 * CONTROLS
 *********************************************/

#reveal .controls {
	display: none;
	position: fixed;
	width: 100px;
	height: 100px;

	right: 0;
	bottom: 0;
}
	
	#reveal .controls a {
		font-size: 30px;
		position: absolute;
		opacity: 0.1;
		color: #fff;
	}
		#reveal .controls a.enabled {
			opacity: 0.6;
			color: hsl(185, 85%, 70%);

			text-shadow: 0px 0px 2px hsla(185, 45%, 70%, 0.3);
		}
		#reveal .controls a.enabled:active {
			margin-top: 1px;
		}

	#reveal .controls .left {
		top: 30px;
	}

	#reveal .controls .right {
		left: 60px;
		top: 30px;
	}

	#reveal .controls .up {
		left: 30px;
	}

	#reveal .controls .down {
		left: 30px;
		top: 60px;

	}


/*********************************************
 * PROGRESS BAR
 *********************************************/

#reveal .progress {
	position: fixed;
	display: none;
	height: 3px;
	width: 100%;
	bottom: 0;
	left: 0;

	background: rgba(0,0,0,0.2);
}
	
	#reveal .progress span {
		display: block;
		background: #003366;
		height: 100%;
		width: 0px;

		-webkit-transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
		   -moz-transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
		    -ms-transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
		     -o-transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
		        transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
	}

/*********************************************
 * ROLLING LINKS
 *********************************************/

#reveal .roll {
    display: inline-block;
    overflow: hidden;

    vertical-align: top;

    -webkit-perspective: 400px;
       -moz-perspective: 400px;
        -ms-perspective: 400px;
            perspective: 400px;

    -webkit-perspective-origin: 50% 50%;
       -moz-perspective-origin: 50% 50%;
        -ms-perspective-origin: 50% 50%;
            perspective-origin: 50% 50%;
}
	#reveal .roll:hover {
		background: none;
		text-shadow: none;
	}
#reveal .roll span {
    display: block;
    position: relative;
    padding: 0 2px;

	pointer-events: none;

    -webkit-transition: all 400ms ease;
       -moz-transition: all 400ms ease;
        -ms-transition: all 400ms ease;
            transition: all 400ms ease;
    
    -webkit-transform-origin: 50% 0%;
       -moz-transform-origin: 50% 0%;
        -ms-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
            transform-style: preserve-3d;
}
    #reveal .roll:hover span {
        background: rgba(0,0,0,0.5);

        -webkit-transform: translate3d( 0px, 0px, -45px ) rotateX( 90deg );
           -moz-transform: translate3d( 0px, 0px, -45px ) rotateX( 90deg );
            -ms-transform: translate3d( 0px, 0px, -45px ) rotateX( 90deg );
                transform: translate3d( 0px, 0px, -45px ) rotateX( 90deg );
    }
#reveal .roll span:after {
    content: attr(data-title);

    display: block;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 2px;

    color: #fff;
    background: hsl(185, 60%, 35%);

    -webkit-transform-origin: 50% 0%;
       -moz-transform-origin: 50% 0%;
        -ms-transform-origin: 50% 0%;
            transform-origin: 50% 0%;

    -webkit-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
       -moz-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
        -ms-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
            transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
}


/*********************************************
 * SLIDES
 *********************************************/

#reveal .slides {
	position: absolute;
	width: 900px;
	height: 600px;
	
	left: 50%;
	top: 50%;
	margin-left: -450px;
	margin-top: -320px;
	padding: 20px 0px;
	
	text-align: center;

	-webkit-transition: -webkit-perspective .4s ease;
	   -moz-transition: -moz-perspective .4s ease;
	    -ms-transition: -ms-perspective .4s ease;
	     -o-transition: -o-perspective .4s ease;
	        transition: perspective .4s ease;
	
	-webkit-perspective: 600px;
	   -moz-perspective: 600px;
	    -ms-perspective: 600px;
	        perspective: 600px;

 	-webkit-perspective-origin: 50% 25%;
 	   -moz-perspective-origin: 50% 25%;
 	    -ms-perspective-origin: 50% 25%;
 	        perspective-origin: 50% 25%;
}

#reveal .slides>section,
#reveal .slides>section>section {
	display: none;
	position: absolute;
	width: 100%;
	min-height: 600px;

    z-index: 10;
	
	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
	    -ms-transform-style: preserve-3d;
	        transform-style: preserve-3d;
	
	-webkit-transition: all 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
	   -moz-transition: all 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
	    -ms-transition: all 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
	     -o-transition: all 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
	        transition: all 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
}

#reveal .slides>section.present {
	display: block;
	z-index: 11;
	opacity: 1;
}


/*********************************************
 * DEFAULT TRANSITION
 *********************************************/

#reveal .slides>section.past {
	display: block;
	opacity: 0;
	
	-webkit-transform: translate3d(-100%, 0, 0) rotateY(-90deg) translate3d(-100%, 0, 0);
	   -moz-transform: translate3d(-100%, 0, 0) rotateY(-90deg) translate3d(-100%, 0, 0);
	    -ms-transform: translate3d(-100%, 0, 0) rotateY(-90deg) translate3d(-100%, 0, 0);
	        transform: translate3d(-100%, 0, 0) rotateY(-90deg) translate3d(-100%, 0, 0);
}
#reveal .slides>section.future {
	display: block;
	opacity: 0;
	
	-webkit-transform: translate3d(100%, 0, 0) rotateY(90deg) translate3d(100%, 0, 0);
	   -moz-transform: translate3d(100%, 0, 0) rotateY(90deg) translate3d(100%, 0, 0);
	    -ms-transform: translate3d(100%, 0, 0) rotateY(90deg) translate3d(100%, 0, 0);
	        transform: translate3d(100%, 0, 0) rotateY(90deg) translate3d(100%, 0, 0);
}

#reveal .slides>section>section.past {
	display: block;
	opacity: 0;
	
	-webkit-transform: translate3d(0, -50%, 0) rotateX(70deg) translate3d(0, -50%, 0);
	   -moz-transform: translate3d(0, -50%, 0) rotateX(70deg) translate3d(0, -50%, 0);
	    -ms-transform: translate3d(0, -50%, 0) rotateX(70deg) translate3d(0, -50%, 0);
	        transform: translate3d(0, -50%, 0) rotateX(70deg) translate3d(0, -50%, 0);
}
#reveal .slides>section>section.future {
	display: block;
	opacity: 0;
	
	-webkit-transform: translate3d(0, 50%, 0) rotateX(-70deg) translate3d(0, 50%, 0);
	   -moz-transform: translate3d(0, 50%, 0) rotateX(-70deg) translate3d(0, 50%, 0);
	    -ms-transform: translate3d(0, 50%, 0) rotateX(-70deg) translate3d(0, 50%, 0);
	        transform: translate3d(0, 50%, 0) rotateX(-70deg) translate3d(0, 50%, 0);
}


/*********************************************
 * CONCAVE TRANSITION
 *********************************************/

#reveal.concave  .slides>section.past {
	-webkit-transform: translate3d(-100%, 0, 0) rotateY(90deg) translate3d(-100%, 0, 0);
	   -moz-transform: translate3d(-100%, 0, 0) rotateY(90deg) translate3d(-100%, 0, 0);
	    -ms-transform: translate3d(-100%, 0, 0) rotateY(90deg) translate3d(-100%, 0, 0);
	        transform: translate3d(-100%, 0, 0) rotateY(90deg) translate3d(-100%, 0, 0);
}
#reveal.concave  .slides>section.future {
	-webkit-transform: translate3d(100%, 0, 0) rotateY(-90deg) translate3d(100%, 0, 0);
	   -moz-transform: translate3d(100%, 0, 0) rotateY(-90deg) translate3d(100%, 0, 0);
	    -ms-transform: translate3d(100%, 0, 0) rotateY(-90deg) translate3d(100%, 0, 0);
	        transform: translate3d(100%, 0, 0) rotateY(-90deg) translate3d(100%, 0, 0);
}

#reveal.concave  .slides>section>section.past {
	-webkit-transform: translate3d(0, -80%, 0) rotateX(-70deg) translate3d(0, -80%, 0);
	   -moz-transform: translate3d(0, -80%, 0) rotateX(-70deg) translate3d(0, -80%, 0);
	    -ms-transform: translate3d(0, -80%, 0) rotateX(-70deg) translate3d(0, -80%, 0);
	        transform: translate3d(0, -80%, 0) rotateX(-70deg) translate3d(0, -80%, 0);
}
#reveal.concave  .slides>section>section.future {
	-webkit-transform: translate3d(0, 80%, 0) rotateX(70deg) translate3d(0, 80%, 0);
	   -moz-transform: translate3d(0, 80%, 0) rotateX(70deg) translate3d(0, 80%, 0);
	    -ms-transform: translate3d(0, 80%, 0) rotateX(70deg) translate3d(0, 80%, 0);
	        transform: translate3d(0, 80%, 0) rotateX(70deg) translate3d(0, 80%, 0);
}


/*********************************************
 * LINEAR TRANSITION
 *********************************************/

#reveal.linear .slides>section.past {
	-webkit-transform: translate(-150%, 0);
	   -moz-transform: translate(-150%, 0);
	    -ms-transform: translate(-150%, 0);
	     -o-transform: translate(-150%, 0);
	        transform: translate(-150%, 0);
}
#reveal.linear .slides>section.future {
	-webkit-transform: translate(150%, 0);
	   -moz-transform: translate(150%, 0);
	    -ms-transform: translate(150%, 0);
	     -o-transform: translate(150%, 0);
	        transform: translate(150%, 0);
}

#reveal.linear .slides>section>section.past {
	-webkit-transform: translate(0, -150%);
	   -moz-transform: translate(0, -150%);
	    -ms-transform: translate(0, -150%);
	     -o-transform: translate(0, -150%);
	        transform: translate(0, -150%);
}
#reveal.linear .slides>section>section.future {
	-webkit-transform: translate(0, 150%);
	   -moz-transform: translate(0, 150%);
	    -ms-transform: translate(0, 150%);
	     -o-transform: translate(0, 150%);
	        transform: translate(0, 150%);
}

/*********************************************
 * BOX TRANSITION
 *********************************************/

#reveal.cube .slides {
	margin-top: -350px;

	-webkit-perspective-origin: 50% 25%;
 	   -moz-perspective-origin: 50% 25%;
 	    -ms-perspective-origin: 50% 25%;
 	        perspective-origin: 50% 25%;

	-webkit-perspective: 1300px;
	   -moz-perspective: 1300px;
	    -ms-perspective: 1300px;
	        perspective: 1300px;
}

#reveal.cube .slides section {
	padding: 30px;

	-webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
	    -ms-backface-visibility: hidden;
	        backface-visibility: hidden;
	
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
	#reveal.cube .slides section:not(.stack):before {
		content: '';
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background: #232628;
		border-radius: 4px;

		-webkit-transform: translateZ( -20px );
		   -moz-transform: translateZ( -20px );
		    -ms-transform: translateZ( -20px );
		     -o-transform: translateZ( -20px );
		        transform: translateZ( -20px );
	}
	#reveal.cube .slides section:not(.stack):after {
		content: '';
		position: absolute;
		display: block;
		width: 90%;
		height: 30px;
		left: 5%;
		bottom: 0;
		background: none;
		z-index: 1;

		border-radius: 4px;
		box-shadow: 0px 95px 25px rgba(0,0,0,0.2);

		-webkit-transform: translateZ(-90px) rotateX( 65deg );
		   -moz-transform: translateZ(-90px) rotateX( 65deg );
		    -ms-transform: translateZ(-90px) rotateX( 65deg );
		     -o-transform: translateZ(-90px) rotateX( 65deg );
		        transform: translateZ(-90px) rotateX( 65deg );
	}

#reveal.cube .slides>section.stack {
	padding: 0;
	background: none;
}

#reveal.cube .slides>section.past {
	-webkit-transform-origin: 100% 0%;
	   -moz-transform-origin: 100% 0%;
	    -ms-transform-origin: 100% 0%;
	        transform-origin: 100% 0%;

	-webkit-transform: translate3d(-100%, 0, 0) rotateY(-90deg);
	   -moz-transform: translate3d(-100%, 0, 0) rotateY(-90deg);
	    -ms-transform: translate3d(-100%, 0, 0) rotateY(-90deg);
	        transform: translate3d(-100%, 0, 0) rotateY(-90deg);
}

#reveal.cube .slides>section.future {
	-webkit-transform-origin: 0% 0%;
	   -moz-transform-origin: 0% 0%;
	    -ms-transform-origin: 0% 0%;
	        transform-origin: 0% 0%;

	-webkit-transform: translate3d(100%, 0, 0) rotateY(90deg);
	   -moz-transform: translate3d(100%, 0, 0) rotateY(90deg);
	    -ms-transform: translate3d(100%, 0, 0) rotateY(90deg);
	        transform: translate3d(100%, 0, 0) rotateY(90deg);
}

#reveal.cube .slides>section>section.past {
	-webkit-transform-origin: 0% 100%;
	   -moz-transform-origin: 0% 100%;
	    -ms-transform-origin: 0% 100%;
	        transform-origin: 0% 100%;

	-webkit-transform: translate3d(0, -100%, 0) rotateX(90deg);
	   -moz-transform: translate3d(0, -100%, 0) rotateX(90deg);
	    -ms-transform: translate3d(0, -100%, 0) rotateX(90deg);
	        transform: translate3d(0, -100%, 0) rotateX(90deg);
}

#reveal.cube .slides>section>section.future {
	-webkit-transform-origin: 0% 0%;
	   -moz-transform-origin: 0% 0%;
	    -ms-transform-origin: 0% 0%;
	        transform-origin: 0% 0%;

	-webkit-transform: translate3d(0, 100%, 0) rotateX(-90deg);
	   -moz-transform: translate3d(0, 100%, 0) rotateX(-90deg);
	    -ms-transform: translate3d(0, 100%, 0) rotateX(-90deg);
	        transform: translate3d(0, 100%, 0) rotateX(-90deg);
}


/*********************************************
 * PAGE TRANSITION
 *********************************************/

#reveal.page .slides {
	margin-top: -350px;

	-webkit-perspective-origin: 50% 50%;
 	   -moz-perspective-origin: 50% 50%;
 	    -ms-perspective-origin: 50% 50%;
 	        perspective-origin: 50% 50%;

	-webkit-perspective: 3000px;
	   -moz-perspective: 3000px;
	    -ms-perspective: 3000px;
	        perspective: 3000px;
}

#reveal.page .slides section {
	padding: 30px;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
	#reveal.page .slides section.past {
		z-index: 12;
	}
	#reveal.page .slides section:not(.stack):before {
		content: '';
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background: #232628;

		-webkit-transform: translateZ( -20px );
		   -moz-transform: translateZ( -20px );
		    -ms-transform: translateZ( -20px );
		     -o-transform: translateZ( -20px );
		        transform: translateZ( -20px );
	}
	#reveal.page .slides section:not(.stack):after {
		content: '';
		position: absolute;
		display: block;
		width: 90%;
		height: 30px;
		left: 5%;
		bottom: 0;
		background: none;
		z-index: 1;

		border-radius: 4px;
		box-shadow: 0px 95px 25px rgba(0,0,0,0.2);

		-webkit-transform: translateZ(-90px) rotateX( 65deg );
	}

#reveal.page .slides>section.stack {
	padding: 0;
	background: none;
}

#reveal.page .slides>section.past {
	-webkit-transform-origin: 0% 0%;
	   -moz-transform-origin: 0% 0%;
	    -ms-transform-origin: 0% 0%;
	        transform-origin: 0% 0%;

	-webkit-transform: translate3d(-40%, 0, 0) rotateY(-80deg);
	   -moz-transform: translate3d(-40%, 0, 0) rotateY(-80deg);
	    -ms-transform: translate3d(-40%, 0, 0) rotateY(-80deg);
	        transform: translate3d(-40%, 0, 0) rotateY(-80deg);
}

#reveal.page .slides>section.future {
	-webkit-transform-origin: 100% 0%;
	   -moz-transform-origin: 100% 0%;
	    -ms-transform-origin: 100% 0%;
	        transform-origin: 100% 0%;

	-webkit-transform: translate3d(0, 0, 0);
	   -moz-transform: translate3d(0, 0, 0);
	    -ms-transform: translate3d(0, 0, 0);
	        transform: translate3d(0, 0, 0);
}

#reveal.page .slides>section>section.past {
	-webkit-transform-origin: 0% 0%;
	   -moz-transform-origin: 0% 0%;
	    -ms-transform-origin: 0% 0%;
	        transform-origin: 0% 0%;

	-webkit-transform: translate3d(0, -40%, 0) rotateX(80deg);
	   -moz-transform: translate3d(0, -40%, 0) rotateX(80deg);
	    -ms-transform: translate3d(0, -40%, 0) rotateX(80deg);
	        transform: translate3d(0, -40%, 0) rotateX(80deg);
}

#reveal.page .slides>section>section.future {
	-webkit-transform-origin: 0% 100%;
	   -moz-transform-origin: 0% 100%;
	    -ms-transform-origin: 0% 100%;
	        transform-origin: 0% 100%;

	-webkit-transform: translate3d(0, 0, 0);
	   -moz-transform: translate3d(0, 0, 0);
	    -ms-transform: translate3d(0, 0, 0);
	        transform: translate3d(0, 0, 0);
}


/*********************************************
 * NEON THEME
 *********************************************/

#reveal.neon a,
#reveal.neon a:hover,
#reveal.neon .controls a.enabled {
	color: #5de048;
}

#reveal.neon .progress span,
#reveal.neon .roll span:after {
	background: #5de048;
}

#reveal.neon a.image:hover img {
	border-color: #5de048;
}


/*********************************************
 * OVERVIEW
 *********************************************/

#reveal.overview .slides {
	-webkit-perspective: 700px;
	   -moz-perspective: 700px;
	    -ms-perspective: 700px;
	        perspective: 700px;
}

#reveal.overview .slides section {
	padding: 20px 0;
	opacity: 1;
	cursor: pointer;
	background: rgba(0,0,0,0.1);
}
#reveal.overview .slides section .fragment {
    opacity: 1;
}
#reveal.overview .slides section:after,
#reveal.overview .slides section:before {
	display: none !important;
}
#reveal.overview .slides section>section {
	opacity: 1;
	cursor: pointer;
}
	#reveal.overview .slides section:hover {
		background: rgba(0,0,0,0.3);
	}

	#reveal.overview .slides section.present {
		background: rgba(0,0,0,0.3);
	}
#reveal.overview .slides>section.stack {
	background: none;
	padding: 0;
}


/*********************************************
 * FALLBACK
 *********************************************/

.no-transforms {
	overflow-y: auto;
}

.no-transforms .slides section {
	-webkit-transform: none;
	   -moz-transform: none;
	    -ms-transform: none;
	        transform: none;
	
	display: block!important;
	opacity: 1!important;
	position: relative!important;
}


/*********************************************
 * DEFAULT STATES
 *********************************************/

.state-background {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba( 0, 0, 0, 0 );

	-webkit-transition: background 800ms ease;
	   -moz-transition: background 800ms ease;
	    -ms-transition: background 800ms ease;
	     -o-transition: background 800ms ease;
	        transition: background 800ms ease;
}
.alert .state-background {
	background: rgba( 200, 50, 30, 0.6 );
}
.soothe .state-background {
	background: rgba( 50, 200, 90, 0.4 );
}
.blackout .state-background {
	background: rgba( 0, 0, 0, 0.6 );
}


/*this is what we want the div to look like*/
div.identbr{
   display:block;

   /*set the div in the bottom right corner*/
   position:absolute;
   bottom:0;
   right:0;
   width:424px;
   height:191px;
   background-image: url('../assets/img/atlassian_cloud_bottom.png');
   background-repeat: no-repeat;
   background-position: -1173px -67px;
}

/*this is what we want the div to look like*/
div.identtl{
   display:block;

   /*set the div in the bottom right corner*/
   position:absolute;
   left:0px;
   top:0px;
   width:424px;
   height:211px;
   background-image: url('../assets/img/atlassian_cloud_bottom.png');
   background-repeat: no-repeat;
   -moz-transform: scaleY(-1);
   -o-transform: scaleY(-1);
   -webkit-transform: scaleY(-1);
   transform: scaleY(-1);
   filter: FlipH;
   -ms-filter: "FlipH";
   background-position: -200px -50px;
}

.imgbox{
    display: block;
    margin:50px auto;
    position:relative;
    border:5px solid #fff;
    background-color:white;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.imgbox:before{
    -webkit-transform: skew(0deg, 4deg);
    box-shadow:5px 5px 9px grey;
    position:absolute;
    background-color:grey;
    bottom:-5px;
    right:0;
    content:'';
    z-index:-6;
    width:100%;
    height:20px;
    right:5px;
}

.imgbox:after{
    -webkit-transform: skew(0deg, -4deg);
    box-shadow:-5px 5px 9px grey;
    position:absolute;
    bottom:-5px;
    content:'';
    z-index:-5;
    width:100%;
    height:20px;
    background-color:grey;
    left:5px;
}
